@const FONT_XLARGE:  "Nokia Sans" 3.11mm; /* 32px */
@const FONT_LARGE:   "Nokia Sans" 2.72mm; /* 28px */
@const FONT_DEFAULT: "Nokia Sans" 2.34mm; /* 24px */
@const FONT_SMALL:   "Nokia Sans" 1.95mm; /* 20px */
@const FONT_MSMALL:  "Nokia Sans" 1.76mm; /* 18px */
@const FONT_XSMALL:  "Nokia Sans" 1.56mm; /* 16px */
@const FONT_XXSMALL: "Nokia Sans" 1.36mm; /* 14px */
@const COLOR_ACTIVE_FOREGROUND: #ffffff; /* activated item title */
@const COLOR_ACTIVE_BACKGROUND: #CCFF33; /* activated item background */

MSceneWindowStyle#Home {
    minimum-size: 100% 100%;
    preferred-size: 100% 100%;
    maximum-size: 100% 100%;
}

MPannableWidgetStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

DesktopStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    minimum-size: 100% 100%;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
}

MOverlayStyle#QuickLaunchBarOverlay {
    minimum-size: 100% -1;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
    offset: 0 0;
    vertical-align: bottom;
    horizontal-align: left;
}

MSceneWindowStyle#LauncherWindow {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-opacity: 0.5;
}

MSceneWindowStyle#AppletSpaceWindow {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    minimum-size: 100% -1;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
}

AppletSpaceStyle {
    extend-direction: "bottom";
    background-image: "duibutton-background-pressed" 10px 10px 10px 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 16;
    padding-right: 16;
    padding-top: 16;
    padding-bottom: 16;
    minimum-size: 100% 100%;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
}

MButtonStyle#AppletSpaceCloseButton {
    icon-size: 40 40;
    preferred-size: 64 64;
    minimum-size: 64 64;
    maximum-size: 64 64;
}

MOverlayStyle#AppletSpaceCloseButtonOverlay {
    minimum-size: 64 64;
    preferred-size: 64 64;
    maximum-size: 64 64;
    offset: 0 0;
}

MButtonIconStyle {
    glow-color: #ffffff;
    horizontal-text-align: center;
}

MButtonStyle#ToggleLauncherButton {
    icon-size: 48 48;
}
MButtonStyle#ToggleLauncherButton.Landscape {
    preferred-size: 72 72;
    maximum-size: 72 72;
    minimum-size: 72 72;
}
MButtonStyle#ToggleLauncherButton.Portrait {
    preferred-size: 88 88;
    maximum-size: 88 88;
    minimum-size: 88 88;
}

MButtonStyle#SearchButton {
    icon-size: 48 48;
}
MButtonStyle#SearchButton.Landscape {
    preferred-size: 72 72;
    maximum-size: 72 72;
    minimum-size: 72 72;
}
MButtonStyle#SearchButton.Portrait {
    preferred-size: 88 88;
    maximum-size: 88 88;
    minimum-size: 88 88;
}

PagePositionIndicatorStyle {
    spacing: 5;
    icon-size: 10 10;
    focused-indicator-image: icon-s-current-page;
    unfocused-indicator-image: icon-s-unselected-page;
}

PagePositionIndicatorStyle#LauncherPageIndicator {
    margin-top: 41;  /* status are + margin: 28 + 13 */
}

PagePositionIndicatorStyle#SwitcherOverviewPageIndicator {
    margin-top: 0;
}

LauncherStyle {
    background-image: "main-menu-background" 0 0 0 15;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    /* Add top padding so that the launcher does not go under the status area */
    padding-top: 28;
    padding-bottom: 88; /* 76 + 12 == quick launch bar + ?;*/
    background-opacity: 0;
}

LauncherPageStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    preferred-size: 100% 100%;
}

LauncherPageStyle.Portrait {
    padding-left: 5.1mm;
    padding-right: 5.1mm;
    /* need to count the status area to padding too: 28px + 5.7mm */
    padding-top: 118;
    padding-bottom: 5.7mm;
}

LauncherPageStyle.Landscape {
    padding-left: 5.0mm;
    padding-right: 5.0mm;
    /* need to count the status area to padding too: 28px + 3.9mm */
    padding-top: 74;
    padding-bottom: 3.9mm;
}

MPannableWidgetStyle#LauncherPagedViewport {
    pan-threshold: 15.0;
    pan-click-threshold: 0.2;
    pointer-spring-k: 0.6;
    friction-c: 0.9;
    sliding-friction-c: 0.9;
    border-spring-k: 0.9;
    border-friction-c: 0.9;
    background-opacity: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    minimum-size: 100% 100%;
    maximum-size: 100% 100%;
}

MAbstractLayoutPolicyStyle#LauncherPageFlowLayoutPolicy {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

MAbstractLayoutPolicyStyle#LauncherPageFlowLayoutPolicy.Portrait {
    vertical-spacing: 5.7mm;
    horizontal-spacing: 0.8mm;
}

MAbstractLayoutPolicyStyle#LauncherPageFlowLayoutPolicy.Landscape {
    vertical-spacing: 3.9mm;
    horizontal-spacing: 0.8mm;
}

MButtonStyle#LauncherBackButton {
    icon-size: 40 40;
    preferred-size: 64 64;
    minimum-size: 64 64;
    maximum-size: 64 64;
}

MOverlayStyle#LauncherBackButtonOverlay {
    minimum-size: 64 64;
    preferred-size: 64 64;
    maximum-size: 64 64;
    offset: 0 0;
}

MButtonIconStyle#LauncherButton {
    font: $FONT_MSMALL;
    text-color: #ffffff;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    text-margin-left: 0;
    text-margin-top: 0;
    text-margin-right: 0;
    text-margin-bottom: 0;

    preferred-size: 14.0mm 10.6mm;

    /* The size of the icon if the button represents a shortcut */
    icon-size: 4.8mm 4.8mm;

    press-feedback: press;
    release-feedback: release;
}

QuickLaunchBarStyle {
    background-image: "duiquicklaunchbar-background" 0px 0px 0px 0px;
    minimum-size: -1 76;
    preferred-size: -1 76;
    maximum-size: -1 76;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

MButtonIconStyle#QuickLaunchBarButton {
    font: $FONT_SMALL;
    text-color: #ffffff;
    margin-left: 6;
    margin-right: 6;
    margin-top: 6;
    margin-bottom: 6;
    preferred-size: 64 126;
    minimum-size: 64 126;
    maximum-size: 64 126;

    press-feedback: press;
    release-feedback: release;
}

SwitcherStyle {
    minimum-size: 100% -1;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5;
    padding-bottom: 0;

    /* how much to down scale the non emphasizzed items */
    scale-factor: 0.8;
    /* The amount the focused item will "fast-forward" during the transition */
    fast-forward: 40;
    /* The angle that the item will rotate during the transition */
    item-rotation: 15;
    /* The amoun the items will overlap when stationary */
    item-over-lap: 3mm;

}

SwitcherStyle#OverviewSwitcher {
    button-horizontal-spacing: 3mm;
    button-vertical-spacing: 2.1mm;
}

SwitcherStyle#OverviewSwitcher.Portrait {
    rows-per-page: 3;
    columns-per-page: 2;
}

SwitcherStyle#OverviewSwitcher.Landscape {
    rows-per-page: 2;
    columns-per-page: 3;
}

MPannableWidgetStyle#SwitcherDetailsViewport {
    pan-threshold: 15.0;
    pan-click-threshold: 0.2;
    pointer-spring-k: 0.6;
    friction-c: 0.9;
    sliding-friction-c: 0.9;
    border-spring-k: 0.9;
    border-friction-c: 0.9;
}

SwitcherButtonStyle {
    margin-left: 0;
    margin-right: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    font: $FONT_DEFAULT;
    text-color: #FFFFFF;

    /* The opacity of the title */
    text-opacity: 0;
    /* The position of the icon relative to the top-left corner of the button */
    icon-position: 0 0;
    /* The image to be drawn as the container for the button */
    container-image:;

    /* The close button icon */
    close-icon: ;

    close-button-vertical-position: 0.0;
}

MButtonIconStyle#CloseButtonOverview
{
    minimum-size: 48 48;
    preferred-size: 48 48;
    maximum-size: 48 48;

    icon-size: 18 18;

    /* icon aligned to right (48-18=30) */
    /* icon-align: right; doesn't do the trick.. */
    padding-left: 30;
}

MButtonIconStyle#CloseButtonDetailview
{
    minimum-size: 48 48;
    preferred-size: 48 48;
    maximum-size: 48 48;

    icon-size: 32 32;

    /* icon aligned to right (48-32=16) */
    /* icon-align: right; doesn't do the trick.. */
    padding-left: 16;
}

/* The default values for the switcher button in the overview mode */
SwitcherButtonStyle#OverviewButton {
    /* The amount of space around the label */
    text-margin-bottom: 2;
    text-margin-left: 1;
    text-margin-right: 1;

    text-opacity: 1.0;

    close-button-vertical-position: -30;
    close-icon: "icon-s-framework-close-thumbnail";
}

SwitcherButtonStyle#OverviewButton.Portrait:small {
    font: $FONT_XXSMALL;
    preferred-size: 12.1mm 21.4mm;
    minimum-size: 12.1mm 21.4mm;
    maximum-size: 12.1mm 21.4mm;
    icon-position: 0 2.1mm;
    icon-size: 12.1mm 19.3mm;
}

SwitcherButtonStyle#OverviewButton.Portrait:medium {
    font: $FONT_XXSMALL;
    preferred-size: 13.4mm 24.2mm;
    minimum-size: 13.4mm 24.2mm;
    maximum-size: 13.4mm 24.2mm;
    icon-position: 0 2.9mm;
    icon-size: 13.4mm 21.3mm;
}

SwitcherButtonStyle#OverviewButton.Portrait:large {
    font: $FONT_XSMALL;
    preferred-size: 21mm 37.8mm;
    minimum-size: 21mm 37.8mm;
    maximum-size: 21mm 37.8mm;
    icon-position: 0 4.4mm;
    icon-size: 21mm 33.4mm;
}

SwitcherButtonStyle#OverviewButton.Landscape:medium {
    font: $FONT_XXSMALL;
    preferred-size: 24.2mm 13.4mm;
    minimum-size: 24.2mm 13.4mm;
    maximum-size: 24.2mm 13.4mm;
    icon-position: 0 2.8mm;
    icon-size: 24.2mm 10.6mm;
}

SwitcherButtonStyle#OverviewButton.Landscape:large {
    font: $FONT_XSMALL;
    preferred-size: 37.8mm 21mm;
    minimum-size: 37.8mm 21mm;
    maximum-size: 37.8mm 21mm;
    icon-position: 0 4.4mm;
    icon-size: 37.8mm 16.6mm;
}

/*
  Switcher buttons in the detail viewmode
*/
SwitcherButtonStyle#DetailviewButton {
    /* The amount of space around the label */
    text-margin-bottom: 5;
    text-margin-left: 6;
    text-margin-right: 6;

    close-button-vertical-position: -36;
}

SwitcherButtonStyle#DetailviewButton.Portrait {
    preferred-size: 28.77mm 51.8mm;
    minimum-size: 28.77mm 51.8mm;
    maximum-size: 28.77mm 51.8mm;
    icon-size: 28.77mm 51.8mm;
    close-icon: "";
}

SwitcherButtonStyle#DetailviewButton.Portrait:large {
    text-opacity: 1.0;
    close-icon: "icon-m-framework-close-thumbnail";
}

SwitcherButtonStyle#DetailviewButton.Landscape {
    preferred-size: 51.8mm 28.77mm;
    minimum-size: 51.8mm 28.77mm;
    maximum-size: 51.8mm 28.77mm;
    icon-size: 51.8mm 28.77mm;
    close-icon: "";
}

SwitcherButtonStyle#DetailviewButton.Landscape:large {
    text-opacity: 1.0;
    close-icon: "icon-m-framework-close-thumbnail";
}
/* switcher button detail view end */

@import "mashupcanvas.css";
