MSceneWindowStyle#Home {
    minimum-size: 100% 100%;
    preferred-size: 100% 100%;
    maximum-size: 100% 100%;
}

MPannableWidgetStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

DesktopStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    minimum-size: 100% 100%;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
}

MOverlayStyle#QuickLaunchBarOverlay {
    minimum-size: 100% -1;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
    offset: 0 0;
    vertical-align: bottom;
    horizontal-align: left;
}

MSceneWindowStyle#LauncherWindow {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-opacity: 0.5;
}

MSceneWindowStyle#AppletSpaceWindow {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    minimum-size: 100% -1;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
}

AppletSpaceStyle {
    extend-direction: "bottom";
    background-image: "duibutton-background-pressed" 10px 10px 10px 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.6mm;
    padding-right: 1.6mm;
    padding-top: 1.6mm;
    padding-bottom: 1.6mm;
    minimum-size: 100% 100%;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
}

MButtonStyle#AppletSpaceCloseButton {
    icon-size: $SIZE_ICON_DEFAULT $SIZE_ICON_DEFAULT;
    preferred-size: 6.4mm 6.4mm;
    minimum-size: 6.4mm 6.4mm;
    maximum-size: 6.4mm 6.4mm;
}

MOverlayStyle#AppletSpaceCloseButtonOverlay {
    minimum-size: 6.4mm 6.4mm;
    preferred-size: 6.4mm 6.4mm;
    maximum-size: 6.4mm 6.4mm;
    offset: 0 0;
}

MButtonIconStyle {
    glow-color: #ffffff;
    horizontal-text-align: center;
}

MButtonStyle#ToggleLauncherButton {
    icon-size: 4.8mm 4.8mm;
}
MButtonStyle#ToggleLauncherButton.Landscape {
    preferred-size: 7.2mm 7.2mm;
    maximum-size: 7.2mm 7.2mm;
    minimum-size: 7.2mm 7.2mm;
}
MButtonStyle#ToggleLauncherButton.Portrait {
    preferred-size: 8.8mm 8.8mm;
    maximum-size: 8.8mm 8.8mm;
    minimum-size: 8.8mm 8.8mm;
}

MButtonStyle#SearchButton {
    icon-size: 4.8mm 4.8mm;
}
MButtonStyle#SearchButton.Landscape {
    preferred-size: 7.2mm 7.2mm;
    maximum-size: 7.2mm 7.2mm;
    minimum-size: 7.2mm 7.2mm;
}
MButtonStyle#SearchButton.Portrait {
    preferred-size: 8.8mm 8.8mm;
    maximum-size: 8.8mm 8.8mm;
    minimum-size: 8.8mm 8.8mm;
}

PagePositionIndicatorStyle {
    spacing: 0.5mm;
    icon-size: 1.0mm 1.0mm;
    focused-indicator-image: icon-s-current-page;
    unfocused-indicator-image: icon-s-unselected-page;
}

PagePositionIndicatorStyle#LauncherPageIndicator {
    margin-top: 4.1mm;  /* status are + margin: 28 + 13 */
}

PagePositionIndicatorStyle#SwitcherOverviewPageIndicator {
    margin-top: 1.3mm;
}

LauncherStyle {
    background-image: "main-menu-background" 0 0 0 15;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    /* Add top padding so that the launcher does not go under the status area */
    padding-top: 2.8mm;
    padding-bottom: 8.8mm; /* 76 + 12 == quick launch bar + ?;*/
    background-opacity: 0;
}

LauncherPageStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    preferred-size: 100% 100%;
}

LauncherPageStyle.Portrait {
    padding-left: 5.1mm;
    padding-right: 5.1mm;
    /* need to count the status area to padding too: 28px + 5.7mm */
    padding-top: 11.8mm;
    padding-bottom: 5.7mm;
}

LauncherPageStyle.Landscape {
    padding-left: 5.0mm;
    padding-right: 5.0mm;
    /* need to count the status area to padding too: 28px + 3.9mm */
    padding-top: 7.4mm;
    padding-bottom: 3.9mm;
}

PagedViewportStyle#LauncherPagedViewport {
    background-opacity: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    minimum-size: 100% 100%;
    maximum-size: 100% 100%;
}

MAbstractLayoutPolicyStyle#LauncherPageFlowLayoutPolicy {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

MAbstractLayoutPolicyStyle#LauncherPageFlowLayoutPolicy.Portrait {
    vertical-spacing: 5.7mm;
    horizontal-spacing: 0.8mm;
}

MAbstractLayoutPolicyStyle#LauncherPageFlowLayoutPolicy.Landscape {
    vertical-spacing: 3.9mm;
    horizontal-spacing: 0.8mm;
}

MButtonStyle#LauncherBackButton {
    icon-size: 4.0mm 4.0mm;
    preferred-size: 6.4mm 6.4mm;
    minimum-size: 6.4mm 6.4mm;
    maximum-size: 6.4mm 6.4mm;
}

MOverlayStyle#LauncherBackButtonOverlay {
    minimum-size: 6.4mm 6.4mm;
    preferred-size: 6.4mm 6.4mm;
    maximum-size: 6.4mm 6.4mm;
    offset: 0 0;
}

MButtonIconStyle#LauncherButton {
    font: $FONT_XSMALL;
    text-color: #ffffff;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    text-margin-left: 0;
    text-margin-top: 0;
    text-margin-right: 0;
    text-margin-bottom: 0;

    preferred-size: 14.0mm 10.6mm;

    /* The size of the icon if the button represents a shortcut */
    icon-size: 8mm 8mm;

    press-feedback: press;
    release-feedback: release;
}

QuickLaunchBarStyle {
    background-image: "duiquicklaunchbar-background" 0px 0px 0px 0px;
    minimum-size: -1 7.6mm;
    preferred-size: -1 7.6mm;
    maximum-size: -1 7.6mm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

MButtonIconStyle#QuickLaunchBarButton {
    font: $FONT_SMALL;
    text-color: #ffffff;
    margin-left: 0.6mm;
    margin-right: 0.6mm;
    margin-top: 0.6mm;
    margin-bottom: 0.6mm;
    preferred-size: 6.4mm 12.6mm;
    minimum-size: 6.4mm 12.6mm;
    maximum-size: 6.4mm 12.6mm;

    press-feedback: press;
    release-feedback: release;
}

SwitcherStyle {
    minimum-size: 100% -1;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    /* how much to down scale the non emphasizzed items */
    scale-factor: 0.8;
    /* The amount the focused item will "fast-forward" during the transition */
    fast-forward: 4.0mm;
    /* The angle that the item will rotate during the transition */
    item-rotation: 15;
    /* The amoun the items will overlap when stationary */
    item-over-lap: 3mm;

    button-horizontal-spacing: 0;
    button-vertical-spacing: 0;
}


SwitcherStyle#OverviewSwitcher {
    button-horizontal-spacing: 3mm;
    button-vertical-spacing: 3mm;
}

SwitcherStyle#OverviewSwitcher.Portrait {
    button-horizontal-spacing: 3mm;
    button-vertical-spacing: 3mm;
    rows-per-page: 2;
    columns-per-page: 2;
}

SwitcherStyle#OverviewSwitcher.Landscape {
    button-horizontal-spacing: 3mm;
    button-vertical-spacing: 3mm;
    rows-per-page: 2;
    columns-per-page: 2;
}

MAbstractLayoutPolicyStyle#OverviewPolicy {
    margin-top: 6.4mm;
    margin-bottom: 3mm;
}

PagedViewportStyle {
    pan-threshold: 15.0;
    pan-click-threshold: 0.1;
    pointer-spring-k: 0.6;
    friction-c: 0.9;
    sliding-friction-c: 1.2;
    border-spring-k: 0.9;
    border-friction-c: 0.9;

    page-snap-spring-k: 0.15;
    page-snap-friction-c: 0.7;
    velocity-threshold: 7.0;
    drag-threshold: 0.3;
    slide-limit: 0;
}

SwitcherButtonStyle {
    margin-left: 0;
    margin-right: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    font: $FONT_DEFAULT;
    text-color: #FFFFFF;

    /* The opacity of the title */
    text-opacity: 0;
    /* The position of the icon relative to the top-left corner of the button */
    icon-position: 0 0;
    /* The image to be drawn as the container for the button */
    container-image:;

    /* The close button icon */
    close-icon: ;

    close-button-vertical-position: 0.0;
}


MButtonIconStyle#CloseButtonOverview
{
    minimum-size: 4.8mm 4.8mm;
    preferred-size: 4.8mm 4.8mm;
    maximum-size: 4.8mm 4.8mm;

    icon-size: 1.8mm 1.8mm;

    /* icon aligned to right (48-18=30) */
    /* icon-align: right; doesn't do the trick.. */
    padding-left: 3.0mm;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.3mm;
}

MButtonIconStyle#CloseButtonDetailview
{
    minimum-size: 4.8mm 4.8mm;
    preferred-size: 4.8mm 4.8mm;
    maximum-size: 4.8mm 4.8mm;

    icon-size: $SIZE_ICON_DEFAULT $SIZE_ICON_DEFAULT;

    /* icon aligned to right (48-32=16) */
    /* icon-align: right; doesn't do the trick.. */
    padding-left: 1.6mm;
}

/* The default values for the switcher button in the overview mode */
SwitcherButtonStyle#OverviewButton {
    /* The amount of space around the label */
    text-margin-bottom: 0.2mm;
    text-margin-left: 0.1mm;
    text-margin-right: 0.1mm;

    text-opacity: 1.0;

    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    /* -48/2 - (18 / 2) - 2 */
    close-button-vertical-position: -3.5mm;
    close-icon: "icon-s-framework-close-thumbnail";
}

SwitcherButtonStyle#OverviewButton.Portrait:medium {
    font: $FONT_XSMALL;

    preferred-size: 17.4mm 31.3mm;
    minimum-size: 17.4mm 31.3mm;
    maximum-size: 17.4mm 31.3mm;
    icon-position: 0 3.2mm;
    icon-size: 17.4mm 28.0mm;

    text-margin-top: 0.7mm;
    text-margin-bottom: 0.7mm;
    close-button-vertical-position: -4.0mm;
}

SwitcherButtonStyle#OverviewButton.Portrait:large {
    font: $FONT_XSMALL;

    preferred-size: 21mm 37.8mm;
    minimum-size: 21mm 37.8mm;
    maximum-size: 21mm 37.8mm;
    icon-position: 0 3.2mm;
    icon-size: 21mm 33.4mm;

    text-margin-top: 0.7mm;
    text-margin-bottom: 0.7mm;
    close-button-vertical-position: -4.0mm;
}

SwitcherButtonStyle#OverviewButton.Landscape:medium {
    font: $FONT_XSMALL;

    preferred-size: 21.8mm 12.1mm;
    minimum-size: 21.8mm 12.1mm;
    maximum-size: 21.8mm 12.1mm;
    icon-position: 0 2.3mm;
    icon-size: 21.8mm 9.8mm;

    text-margin-top: 0.25mm;
    text-margin-bottom: 0.25mm;
    close-button-vertical-position: -3.5mm;
}

SwitcherButtonStyle#OverviewButton.Landscape:large {
    font: $FONT_XSMALL;

    preferred-size: 37.8mm 21mm;
    minimum-size: 37.8mm 21mm;
    maximum-size: 37.8mm 21mm;
    icon-position: 0 2.3mm;
    icon-size: 37.8mm 16.6mm;

    text-margin-top: 0.25mm;
    text-margin-bottom: 0.25mm;
    close-button-vertical-position: -3.5mm;
}

/*
  Switcher buttons in the detail viewmode
*/
SwitcherButtonStyle#DetailviewButton {
    /* The amount of space around the label */
    text-margin-bottom: 0.5mm;
    text-margin-left: 0.6mm;
    text-margin-right: 0.6mm;

    close-button-vertical-position: -3.6mm;
}

SwitcherButtonStyle#DetailviewButton.Portrait {
    preferred-size: 28.77mm 51.8mm;
    minimum-size: 28.77mm 51.8mm;
    maximum-size: 28.77mm 51.8mm;
    icon-size: 28.77mm 51.8mm;
    close-icon: "";
}

SwitcherButtonStyle#DetailviewButton.Portrait:large {
    text-opacity: 1.0;
    close-icon: "icon-m-framework-close-thumbnail";
}

SwitcherButtonStyle#DetailviewButton.Landscape {
    preferred-size: 51.8mm 28.77mm;
    minimum-size: 51.8mm 28.77mm;
    maximum-size: 51.8mm 28.77mm;
    icon-size: 51.8mm 28.77mm;
    close-icon: "";
}

SwitcherButtonStyle#DetailviewButton.Landscape:large {
    text-opacity: 1.0;
    close-icon: "icon-m-framework-close-thumbnail";
}
/* switcher button detail view end */

@import "mashupcanvas.css";
