MainWindowStyle {
    locked-orientation:;
}

DesktopStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    minimum-size: 100% 100%;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
    desktop-background-image:;
}

PagePositionIndicatorStyle {
    spacing: 0.5mm;
    icon-size: 1.0mm 1.0mm;
    focused-indicator-image: icon-s-current-page;
    unfocused-indicator-image: icon-s-unselected-page;
    focused-between-pages: true;
}

PagePositionIndicatorStyle#LauncherPageIndicator {
    margin-top: 4.1mm;  /* status are + margin: 28 + 13 */
}

PagePositionIndicatorStyle#SwitcherOverviewPageIndicator {
    margin-top: 1.3mm;
}

LauncherStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    /* Add top padding so that the launcher does not go under the status area */
    padding-top: 2.8mm;
    padding-bottom: 8.8mm; /* 76 + 12 == quick launch bar + ?;*/
}

LauncherPageStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    preferred-size: 100% 100%;
}

LauncherPageStyle.Portrait {
    padding-left: 5.1mm;
    padding-right: 5.1mm;
    /* need to count the status area to padding too: 28px + 5.7mm */
    padding-top: 11.8mm;
    padding-bottom: 5.7mm;
}

LauncherPageStyle.Landscape {
    padding-left: 5.0mm;
    padding-right: 5.0mm;
    /* need to count the status area to padding too: 28px + 3.9mm */
    padding-top: 7.4mm;
    padding-bottom: 3.9mm;
}

PagedViewportStyle#LauncherPagedViewport {
    background-opacity: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    minimum-size: 100% 100%;
    maximum-size: 100% 100%;
}

LauncherButtonStyle {
    font: $FONT_XSMALL;
    text-color: #ffffff;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    text-margin-left: 0;
    text-margin-top: 0;
    text-margin-right: 0;
    text-margin-bottom: 0;

    minimum-size: 11.8mm 10.6mm;
    preferred-size: 11.8mm 10.6mm;
    maximum-size: 11.8mm 10.6mm;

    /* The size of the icon if the button represents a shortcut */
    icon-size: 8mm 8mm;

    show-launch-progress: true;
    /* The size of the progress indicator icon */
    /* (due implementation reasons progress indicator might be of different size than button icon) */
    progress-indicator-icon-size: 9.4mm 9.4mm;

    press-feedback: press;
    release-feedback: release;

    /* The timeout for the progress indicator (in milliseconds) */
    launch-progress-indicator-timeout: 10000;

    downloading-placeholder-icon: "icon-l-downloading";
    installing-placeholder-icon: "icon-l-installing";
    broken-placeholder-icon: "icon-l-error";
}

LauncherButton#LauncherButton MSpinnerStyle {
    refresh-rate: 300;
    period: 8000;
    bg-pixmap: meegotouch-progressindicator-spinner-hollow-background;
    progress-pixmap: meegotouch-progressindicator-spinner-hollow-progress;
}

LauncherButton#LauncherButton MSpinnerStyle:installing {
    refresh-rate: 100;
    period: 16000;
}

LauncherButton#QuickLaunchBarButton MSpinnerStyle {
    refresh-rate: 300;
    period: 8000;
    bg-pixmap: meegotouch-progressindicator-spinner-hollow-background-small;
    progress-pixmap: meegotouch-progressindicator-spinner-hollow-progress-small;
}

LauncherButton#QuickLaunchBarButton MSpinnerStyle:installing {
    refresh-rate: 100;
    period: 16000;
}


QuickLaunchBarStyle {
    background-image: "meegotouch-quicklaunchbar-background" 0px 0px 0px 0px;
    minimum-size: -1 7.6mm;
    preferred-size: -1 7.6mm;
    maximum-size: -1 7.6mm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

LauncherButtonStyle#QuickLaunchBarButton {
    font: $FONT_SMALL;

    text-color: $COLOR_INVERTED_FOREGROUND;

    margin-left: $MARGIN_DOUBLE;
    margin-right: $MARGIN_DOUBLE;
    margin-top: $MARGIN_DOUBLE;
    margin-bottom: $MARGIN_DOUBLE;

    preferred-size: 6.4mm 12.6mm;
    minimum-size: 6.4mm 12.6mm;
    maximum-size: 6.4mm 12.6mm;

    press-feedback: press;
    release-feedback: release;

    icon-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    /* The size of the progress indicator icon */
    /* (due implementation reasons progress indicator might be of different size than button icon) */
    progress-indicator-icon-size: 58 58;
}

SwitcherBaseStyle {
    pinch-cancel-threshold: 0.25;
    pinch-length: 1.5;
    bounce-scale: 0.2;
    bounce-duration: 150;
    bounce-curve: linear;
}

SwitcherStyle {
    minimum-size: 100% -1;
    preferred-size: 100% -1;
    maximum-size: 100% -1;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    button-horizontal-spacing: 0;
    button-vertical-spacing: 0;
    rows-per-page: 1;
    columns-per-page: 1;
}


SwitcherStyle#OverviewSwitcher {
    button-horizontal-spacing: 3mm;
    button-vertical-spacing: 3mm;
}

SwitcherStyle#OverviewSwitcher.Portrait {
    button-horizontal-spacing: 3mm;
    button-vertical-spacing: 3mm;
    rows-per-page: 2;
    columns-per-page: 2;
}

SwitcherStyle#OverviewSwitcher.Landscape {
    button-horizontal-spacing: 3mm;
    button-vertical-spacing: 3mm;
    rows-per-page: 2;
    columns-per-page: 2;
}

TransformLayoutAnimationStyle#SwitcherLayoutAnimation {
    easing-curve: inoutcubic;
    minimum-speed: 0.03;
    speed-smoothness: 0.7;
}


PagedViewportStyle {
    pan-threshold: 30.0;
    pan-click-threshold: 0.1;
    pointer-spring-k: 0.6;
    friction-c: 0.9;
    sliding-friction-c: 1.2;
    border-spring-k: 0.9;
    border-friction-c: 0.9;

    page-snap-spring-k: 0.15;
    page-snap-friction-c: 0.7;
    velocity-threshold: 7.0;
    drag-threshold: 0.3;
    slide-limit: 0;
}

SwitcherButtonStyle {
    margin-bottom: 0;
    margin-left: 0;
    margin-left: 0;
    margin-right: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    press-feedback:;
    release-feedback:;

    /* The image to be drawn as the container for the button */
    container-image:;

    /* The height of the navigation bar for cropping the thumbnail */
    cropping-top: 100;
}

SwitcherButtonWithTitleBarStyle {
    /* The close button icon */
    close-icon: ;
}

/* The default values for the switcher button in the overview mode */
SwitcherButtonWithTitleBarStyle#OverviewButton {
    close-icon: "icon-s-framework-close-thumbnail";
}

SwitcherButtonStyle#OverviewButton.Portrait:medium {
    preferred-size: 17.4mm 28mm;
    minimum-size: 17.4mm 28mm;
    maximum-size: 17.4mm 28mm;
    icon-size: 17.4mm 28mm;
}

SwitcherButtonStyle#OverviewButton.Portrait:large {
    preferred-size: 17.4mm 28mm;
    minimum-size: 17.4mm 28mm;
    maximum-size: 17.4mm 28mm;
    icon-size: 17.4mm 28mm;
}

SwitcherButtonStyle#OverviewButton.Landscape:medium {
    preferred-size: 21.8mm 9.8mm;
    minimum-size: 21.8mm 9.8mm;
    maximum-size: 21.8mm 9.8mm;
    icon-size: 21.8mm 9.8mm;
}

SwitcherButtonStyle#OverviewButton.Landscape:large {
    preferred-size: 21.8mm 9.8mm;
    minimum-size: 21.8mm 9.8mm;
    maximum-size: 21.8mm 9.8mm;
    icon-size: 21.8mm 9.8mm;
}

/* Switcher buttons in the detail viewmode */
SwitcherButtonStyle#DetailviewButton.Portrait {
    preferred-size: 27.0mm 44.2mm;
    minimum-size: 27.0mm 44.2mm;
    maximum-size: 27.0mm 44.2mm;
    icon-size: 27.0mm 44.2mm;
}

SwitcherButtonWithTitleBarStyle#DetailviewButton.Portrait:large {
    close-icon: "icon-m-framework-close-thumbnail";
}

SwitcherButtonStyle#DetailviewButton.Landscape {
    preferred-size: 51.8mm 24.1mm;
    minimum-size: 51.8mm 24.1mm;
    maximum-size: 51.8mm 24.1mm;
    icon-size: 51.8mm 24.1mm;
}

SwitcherButtonWithTitleBarStyle#DetailviewButton.Landscape:large {
    close-icon: "icon-m-framework-close-thumbnail";
}

ExtendedButtonStyle {
    extend-left: 1.3mm;
    extend-right: 1.3mm;
    extend-top: 1.3mm;
    extend-bottom: 1.3mm;
}
