[Desktop Entry]
Type=DUIApplet
Name=Contacts
Icon=W-Icon-contacts
Exec=duiappletrunner
Categories=Office;ContactManagement;

[DUI]
X-DUIApplet-Applet=libimageapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_contacts
X-DUIApplet-ImagePortrait=Widget_portrait_contacts

