[Desktop Entry]
Type=DUIApplet
Name=Dictionary
Icon=W-Icon-dictionary
Exec=duiappletrunner
Categories=Office;TextTools;Dictionary;

[DUI]
X-DUIApplet-Applet=libimageapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_contacts
X-DUIApplet-ImagePortrait=Widget_portrait_contacts
