[Desktop Entry]
Type=DUIApplet
Name=Flickr
Icon=W-Icon-flickr
Exec=duiappletrunner
Categories=Graphics;

[DUI]
X-DUIApplet-Applet=libimageapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_flickr
X-DUIApplet-ImagePortrait=Widget_portrait_flickr

