[Desktop Entry]
Type=DUIApplet
Name=Help
Icon=W-Icon-help
Exec=duiappletrunner
Categories=Documentation;

[DUI]
X-DUIApplet-Applet=libimageapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_contacts
X-DUIApplet-ImagePortrait=Widget_portrait_contacts

