[Desktop Entry]
Type=DUIApplet
Name=Landmarks
Icon=W-Icon-landmarks
Exec=duiappletrunner
Categories=Education;Geography;

[DUI]
X-DUIApplet-Applet=libimageapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_contacts
X-DUIApplet-ImagePortrait=Widget_portrait_contacts

