[Desktop Entry]
Type=DUIApplet
Name=Maps
Icon=icon-l-maps
Exec=duiappletrunner
Categories=Education;Geography;

[DUI]
X-DUIApplet-Applet=libimageapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_contacts
X-DUIApplet-ImagePortrait=Widget_portrait_contacts

