[Desktop Entry]
Type=DUIApplet
Name=Notes
Icon=W-Icon-notes
Exec=duiappletrunner
Categories=Office;

[DUI]
X-DUIApplet-Applet=libimageapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_contacts
X-DUIApplet-ImagePortrait=Widget_portrait_contacts

