[Desktop Entry]
Type=DUIApplet
Name=System Rush
Icon=icon-l-games
Exec=duiappletrunner
Categories=Game;ArcadeGame;

[DUI]
X-DUIApplet-Applet=libimageapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_flickr
X-DUIApplet-ImagePortrait=Widget_portrait_flickr

