[Desktop Entry]
Type=DUIApplet
Name=TV
Icon=W-Icon-mobile-tv
Exec=duiappletrunner
Categories=AudioVideo;TV;

[DUI]
X-DUIApplet-Applet=libimageapplet.so
X-DUIApplet-ImageLandscape=Widget_landscape_contacts
X-DUIApplet-ImagePortrait=Widget_portrait_contacts

