*.substvars
*.debhelper
meegotouchhome-dbg/
meegotouchhome-l10n-engineering-english/
meegotouchhome-tests/
meegotouchhome/
files
libmeegotouchhome-dev/
libmeegotouchhome-doc/
libmeegotouchhome0-dbg/
libmeegotouchhome0/
tmp/
