Source: duihome
Section: x11
Priority: extra
Maintainer: Tuomas Järvensivu <tuomas.jarvensivu@nokia.com>
Build-Depends: debhelper (>= 5), doxygen (>=1.5.9),
  libmeegotouch-dev (>= 0.20.12),
  libqt4-dev (>= 4.6), libqt4-opengl-dev,
  libxcomposite-dev, libxext-dev,
  libcontextsubscriber-dev, libcontentaction-dev (>= 0.1.9)
Standards-Version: 3.7.2

Package: duihomescreen
Architecture: any
Depends: ${shlibs:Depends},
  ui-fonts,
  dsme,
  duihomescreen-l10n-engineering-english (= ${Source-Version})
Description: MeeGo Touch Home screen
 MeeGo Touch Home screen

Package: duihomescreen-l10n-engineering-english
Section: devel
Architecture: any
Enhances: duihomescreen
Description: Engineering English translations for MeeGo Touch Home screen
 Engineering English translations for MeeGo Touch Home screen

Package: duihomescreen-dbg
Architecture: any
Section: devel
Depends: duihomescreen (= ${binary:Version})
Description: MeeGo Touch Home screen debug info
 MeeGo Touch Home screen debug information

Package: libduihome0
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Description: MeeGo Touch Home library
 MeeGo Touch Home library

Package: libduihome0-dbg
Architecture: any
Section: devel
Depends: libduihome0 (= ${binary:Version})
Description: MeeGo Touch Home library debug info
 MeeGo Touch Home library debug information

Package: libduihome-dev
Architecture: any
Section: devel
Depends: libduihome0 (= ${binary:Version}), libmeegotouch-dev
Description: MeeGo Touch Home library dev package
 MeeGo Touch home library development package

Package: libduihome-doc
Section: doc
Architecture: all
Description: API documentation for libduihome

Package: duihomescreen-tests
Section: devel
Architecture: any
Depends: ci-testing, testrunner, duihomescreen (= ${binary:Version}),
  meego-env-dimming
XB-Maemo-CI-Packages: duihomescreen
XB-Maemo-CI-Stage: fast, staging
Description: Testsuite for MeeGo Touch Home screen
