Source: meegotouchhome
Section: x11
Priority: extra
Maintainer: Vesa Halttunen <vesa.halttunen@nokia.com>
Build-Depends: debhelper (>= 5), doxygen (>=1.5.9),
  libmeegotouch-dev (>> 0.20.34),
  libqt4-dev (>= 4.6), libqt4-opengl-dev,
  libxcomposite-dev, libxext-dev,
  libcontextsubscriber-dev, libcontentaction-dev (>= 0.1.9)
Standards-Version: 3.8.0

Package: meegotouchhome
Provides: duihomescreen
Conflicts: duihomescreen
Replaces: duihomescreen
Architecture: any
Depends: ${shlibs:Depends},
  meegotouchhome-l10n-engineering-english (= ${binary:Version})
Description: MeeGo Touch Home screen
 MeeGo Touch Home screen

Package: meegotouchhome-l10n-engineering-english
Conflicts: duihomescreen-l10n-engineering-english
Replaces: duihomescreen-l10n-engineering-english
Section: localization
Architecture: any
Enhances: meegotouchhome
Description: Engineering English translations for MeeGo Touch Home screen
 Engineering English translations for MeeGo Touch Home screen

Package: meegotouchhome-dbg
Conflicts: duihomescreen-dbg
Replaces: duihomescreen-dbg
Architecture: any
Section: debug
Depends: meegotouchhome (= ${binary:Version})
Description: MeeGo Touch Home screen debug info
 MeeGo Touch Home screen debug information

Package: libmeegotouchhome0
Conflicts: libduihome0
Replaces: libduihome0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: MeeGo Touch Home library
 MeeGo Touch Home library

Package: libmeegotouchhome0-dbg
Conflicts: libduihome0-dbg
Replaces: libduihome0-dbg
Architecture: any
Section: debug
Depends: libmeegotouchhome0 (= ${binary:Version})
Description: MeeGo Touch Home library debug info
 MeeGo Touch Home library debug information

Package: libmeegotouchhome-dev
Provides: libduihome-dev
Conflicts: libduihome-dev
Replaces: libduihome-dev
Architecture: any
Section: libdevel
Depends: libmeegotouchhome0 (= ${binary:Version}), libmeegotouch-dev
Description: MeeGo Touch Home library dev package
 MeeGo Touch home library development package

Package: libmeegotouchhome-doc
Provides: libduihome-doc
Conflicts: libduihome-doc
Replaces: libduihome-doc
Section: doc
Architecture: all
Description: API documentation for libmeegotouchhome

Package: meegotouchhome-tests
Provides: duihomescreen-tests
Conflicts: duihomescreen-tests
Replaces: duihomescreen-tests
Section: devel
Architecture: any
Depends: ${shlibs:Depends},
  meego-env-dimming
XB-Maemo-CI-Packages: meegotouchhome
XB-Maemo-CI-Stage: fast, staging
Description: Testsuite for MeeGo Touch Home screen
