Source: duihome
Section: x11
Priority: extra
Maintainer: Tuomas Järvensivu <tuomas.jarvensivu@nokia.com>
Build-Depends: debhelper (>= 5), doxygen (>=1.5.9),
  libmeegotouch-dev (>= 0.20.1),
  libqt4-dev (>= 4.6), libqt4-opengl-dev,
  libxcomposite-dev, libxext-dev,
  libcontextsubscriber-dev, maemo-services-dev
Standards-Version: 3.7.2

Package: duihomescreen
Architecture: any
Depends: ${shlibs:Depends},
  ui-fonts,
  dsme,
  duihomescreen-l10n-engineering-english (= ${Source-Version})
Description: Direct UI Home screen
 Direct UI Home screen

Package: duihomescreen-l10n-engineering-english
Section: devel
Architecture: any
Enhances: duihomescreen
Description: Engineering English translations for Direct UI Home screen
 Engineering English translations for Direct UI Home screen

Package: duihomescreen-plugins-weatherapplet-l10n-engineering-english
Section: devel
Architecture: any
Enhances: duihomescreen-plugins-weatherapplet
Description: Engineering English translations for Direct UI home weather applet

Package: duihomescreen-plugins-weatherapplet-l10n-fi
Section: devel
Architecture: any
Enhances: duihomescreen-plugins-weatherapplet
Description: Finnish translations for Direct UI home weather applet

Package: duihomescreen-plugins-weatherapplet-l10n-en
Section: devel
Architecture: any
Enhances: duihomescreen-plugins-weatherapplet
Description: English translations for Direct UI home weather applet

Package: duihomescreen-dbg
Architecture: any
Section: devel
Depends: duihomescreen (= ${binary:Version})
Description: Direct UI Home screen debug info
 Direct UI Home screen debug information

Package: duihomescreen-plugins-weatherapplet
Architecture: any
Section: user/TEST
Depends: ${shlibs:Depends}, duihomescreen-plugins-weatherapplet-l10n-engineering-english
Suggests: duihomescreen-plugins-weatherapplet-l10n-en, duihomescreen-plugins-weatherapplet-l10n-fi
Description: Direct UI Home screen plugins
 Direct UI home weather applet
XB-Maemo-Title: Weather
XB-Maemo-Desktop-File: /usr/share/dui/applets/weather.desktop

Package: duihomescreen-plugins-imageapplet
Architecture: any
Section: user/TEST
Depends: ${shlibs:Depends}
Description: Direct UI Home screen plugins
 Direct UI home image applet
XB-Maemo-Title: Images
XB-Maemo-Desktop-File: /usr/share/dui/applets/media.desktop

Package: duihomescreen-plugins
Architecture: any
Section: x11
Depends: duihomescreen-plugins-weatherapplet, duihomescreen-plugins-imageapplet, ${shlibs:Depends}
Description: Direct UI Home screen plugins
 Direct UI home screen plugins

Package: duihomescreen-plugins-dbg
Architecture: any
Section: devel
Depends: duihomescreen-plugins (= ${binary:Version})
Description: Direct UI Home screen plugins debug info
 Direct UI Home screen plugins debug information

Package: libduihome0
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Description: Direct UI Home library
 Direct UI Home library

Package: libduihome0-dbg
Architecture: any
Section: devel
Depends: libduihome0 (= ${binary:Version})
Description: Direct UI Home library debug info
 Direct UI Home library debug information

Package: libduihome-dev
Architecture: any
Section: devel
Depends: libduihome0 (= ${binary:Version}), libmeegotouch-dev
Description: Direct UI Home library dev package
 Direct UI home library development package

Package: libduihome-doc
Section: doc
Architecture: all
Description: API documentation for libduihome

Package: duihomescreen-tests
Section: devel
Architecture: any
Depends: testrunner, duihomescreen (= ${binary:Version}), duihomescreen-plugins (= ${binary:Version})
XB-Maemo-CI-Packages: duihomescreen
XB-Maemo-CI-Stage: fast, staging
Description: Testsuite for Direct UI Home screen
