#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1


DEBDIR=..
CFLAGS = -Wall -Werror -Wno-deprecated-declarations -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
        CFLAGS += -O0
else
        CFLAGS += -O2
endif

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
    INSTALL_PROGRAM += -s
endif

ifeq (,$(findstring nobenchmarks,$(DEB_BUILD_OPTIONS)))
   QMAKE_OPTIONS += BENCHMARKS=on
endif

TMP_BUILD_OPTS = $(subst $(comma),$(space),$(DEB_BUILD_OPTIONS))

PARALLEL_MAKEFLAGS +=

ifneq (,$(filter parallel=%,$(TMP_BUILD_OPTS)))
         NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(TMP_BUILD_OPTS)))
         PARALLEL_MAKEFLAGS += -j$(NUMJOBS)
endif

# shared library versions, option 1
version=0.1.0
major=0

# Don't build documentation by setting DEB_BUILD_OPTION=nodocs,...
ifneq (,$(findstring nodoc,$(DEB_BUILD_OPTIONS)))
     QMAKE_OPTIONS += CONFIG+=NODOCS
     EXCLUSIONS += --no-package=libmeegotouchhome-doc
endif


configure: configure-stamp
configure-stamp:
	dh_testdir $(EXCLUSIONS)
	qmake  -recursive  QMAKE_CFLAGS="$(CFLAGS)" QMAKE_CXXFLAGS="$(CFLAGS)" $(QMAKE_OPTIONS)
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp
	dh_testdir $(EXCLUSIONS)

	make $(PARALLEL_MAKEFLAGS)

	#docbook-to-man debian/home.sgml > home.1

	touch $@

clean:
	dh_testdir $(EXCLUSIONS)
	dh_testroot $(EXCLUSIONS)
	rm -f build-stamp configure-stamp
	-@make $(PARALLEL_MAKEFLAGS) clean || true

	dh_clean $(EXCLUSIONS)

install: build
	dh_testdir $(EXCLUSIONS)
	dh_testroot $(EXCLUSIONS)
	dh_clean -k $(EXCLUSIONS)
	dh_installdirs $(EXCLUSIONS)

	# install
	INSTALL_ROOT=$(CURDIR)/debian/tmp $(MAKE) $(PARALLEL_MAKEFLAGS) install
	rm -f ${CURDIR}/debian/tmp/usr/share/doc/libmeegotouchhome/api/installdox

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir $(EXCLUSIONS)
	dh_testroot $(EXCLUSIONS)
	dh_installchangelogs $(EXCLUSIONS)
	dh_installdocs $(EXCLUSIONS)
	dh_install --sourcedir=$(CURDIR)/debian/tmp $(EXCLUSIONS) -v
#	dh_installmenu $(EXCLUSIONS)
#	dh_installdebconf $(EXCLUSIONS)
#	dh_installlogrotate $(EXCLUSIONS)
#	dh_installemacsen $(EXCLUSIONS)
#	dh_installpam $(EXCLUSIONS)
#	dh_installmime $(EXCLUSIONS)
#	dh_python $(EXCLUSIONS)
#	dh_installinit $(EXCLUSIONS)
#	dh_installcron $(EXCLUSIONS)
#	dh_installinfo $(EXCLUSIONS)
#	dh_installman $(EXCLUSIONS)
	dh_link $(EXCLUSIONS)
	dh_strip --dbg-package=meegotouchhome --dbg-package=libmeegotouchhome0 $(EXCLUSIONS)
	dh_compress $(EXCLUSIONS)
	dh_fixperms $(EXCLUSIONS)
#	dh_perl $(EXCLUSIONS)
	dh_makeshlibs $(EXCLUSIONS)
	dh_installdeb $(EXCLUSIONS)
	dh_shlibdeps $(EXCLUSIONS)
	dh_gencontrol $(EXCLUSIONS)
	dh_md5sums $(EXCLUSIONS)
	dh_builddeb --destdir=$(DEBDIR) $(EXCLUSIONS)

binary:binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
