[Desktop Entry]
Type=X-MeeGoApplet
Name=Weather (5s startup delay)
Icon=icon-m-notification-temperature
Exec=mappletrunner

[X-MeeGoApplet]
Applet=libweatherapplet.so
Identifier=weatherappletres

[X-Additional]
StartupDelay=5
