PlainDesktopBackgroundStyle {
    blur-radius: 10;
    brightness: 0.75;
    defocus-duration: 1000;
    defocus-update-interval: 100;
}
PlainDesktopBackgroundStyle.Landscape {
    /* The name of the default background image */
    default-background-image: "HomeWallpaperLandscape";
}
PlainDesktopBackgroundStyle.Portrait {
    /* The name of the default background image */
    default-background-image: "HomeWallpaperPortrait";
}
