PlainDesktopBackgroundStyle {
    blur-radius: 10;
    brightness: 0.75;
    defocus-duration: 500;
    defocus-update-interval: 33;
}
PlainDesktopBackgroundStyle.Landscape {
    /* The name of the default background image */
    default-background-image: "meegotouch-wallpaper-landscape";
}
PlainDesktopBackgroundStyle.Portrait {
    /* The name of the default background image */
    default-background-image: "meegotouch-wallpaper-portrait";
}
