[Desktop Entry]
Type=X-MeeGoApplicationExtension
Name=PlainDesktopBackgroundExtension

[X-MeeGoApplicationExtension]
Interface=com.meego.core.MDesktopBackgroundExtensionInterface/1.0
Extension=libmeegotouchhome-plaindesktopbackgroundextension.so
